<form action="index.php?route=payment/bankart_slovenia/generateURL" method="POST" id="payment">
<?php echo $text_select_inst; ?><br />
<select name="instalments" id="instalments">
	<?php 
	for ($i=1; $i <= $max_instalments; $i++) {
		if ($i == 13) {
			break;
		} 
		echo "<option value='$i'>$i</option>";
	}
	?>
</select>
<input id="button-pay" class="button" name="order_id" type="hidden" value="<?php echo $this->session->data['order_id']; ?>" />
<div class="buttons">
	<div class="right"><a onclick="document.getElementById('payment').submit();" class="button"><span><?php echo $button_confirm; ?></span></a></div>
</div>
</form>